autobahn==0.8.8
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
bipython==0.1.2
bpython==0.13
gnureadline==6.3.3
ipython==2.1.0
Pygments==1.6
pyzmq==14.3.0
requests==2.3.0
six==1.6.1
Twisted==14.0.0
urwid==1.2.1
websocket-client==0.14.1
zope.interface==4.1.1
